# Implicit Type Conversion

In [38]:
var1 = 10
var2 = 20.5

In [2]:
print(type(var1))

<class 'int'>

In [3]:
print(type(var2))

<class 'float'>

In [5]:
var1 + var2

30.5

In [6]:
type(var1 + var2)

float

# Explicit Type Conversion

In [8]:
var3 = 10
var4 = '20'

In [9]:
var3 + var4

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
print(type(var3))
print(type(var4))

<class 'int'>
<class 'str'>

In [ ]:
# Convert String into int

In [14]:

var5 = int(var4)
print(var5)
print(type(var5))

20
<class 'int'>

In [15]:
var3 + var5

30

# Type conversion at the time of doing sum of 2 variables

In [ ]:
print(var3 + int(var4))
print(type(var3 + int(var4)))

In [24]:
# convert var3 to string and add to var4

In [30]:
#print(var3, var4)
print(str(var3) + var4)
type(str(var3) + var4)

1020

str

In [ ]:
# Find ASCII value of char and vice versa

In [32]:

print(ord('A'))
print(ord('a'))

65
97

In [34]:
print(chr(65))
print(chr(97))

A
a

In [ ]:
# Converting List to the Set, Tuple

In [36]:
list1 = [1,2,3,4,5,1,2,3]
print(set(list1))
print(tuple(list1))

{1, 2, 3, 4, 5}
(1, 2, 3, 4, 5, 1, 2, 3)

In [ ]:
# converting set to list and tuple

In [37]:
set_data = {1,2,3,4,5}
print(list(set_data))
print(tuple(set_data))

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)